In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data

spy = data.get_data_yahoo("SPY", start="2000-01-01")
spy.head()

<bound method NDFrame.head of                   Open        High         Low       Close   Adj Close  \
Date
2000-01-03  148.250000  148.250000  143.875000  145.437500  104.855598
2000-01-04  143.531204  144.062500  139.640594  139.750000  100.755112
2000-01-05  139.937500  141.531204  137.250000  140.000000  100.935326
2000-01-06  139.625000  141.500000  137.750000  137.750000   99.313148
2000-01-07  140.312500  145.750000  140.062500  145.750000  105.080872
2000-01-10  146.250000  146.906204  145.031204  146.250000  105.441383
2000-01-11  145.812500  146.093704  143.500000  144.500000  104.179672
2000-01-12  144.593704  144.593704  142.875000  143.062500  103.143288
2000-01-13  144.468704  145.750000  143.281204  145.000000  104.540161
2000-01-14  146.531204  147.468704  145.968704  146.968704  105.959518
2000-01-18  145.343704  146.625000  145.187500  145.812500  105.125931
2000-01-19  145.312500  147.000000  145.000000  147.000000  105.982101
2000-01-20  146.968704  146.968704  143.812500  144.750000  104.359924
2000-01-21  145.500000  145.500000  144.062500  144.437500  104.134598
2000-01-24  145.656204  145.843704  139.406204  140.343704  101.183144
2000-01-25  140.515594  141.937500  139.000000  141.937500  102.332230
2000-01-26  141.000000  141.546799  140.093704  140.812500  101.521080
2000-01-27  141.843704  142.218704  138.125000  140.250000  101.115547
2000-01-28  139.437500  140.062500  135.531204  135.875000   97.961365
2000-01-31  135.812500  139.671799  135.000000  139.562500  100.619919
2000-02-01  139.750000  141.687500  138.531204  140.937500  101.611229
2000-02-02  141.281204  142.250000  140.375000  141.062500  101.701370
2000-02-03  140.875000  143.250000  140.000000  143.187500  103.233391
2000-02-04  143.187500  144.000000  142.125000  142.593704  102.805283
2000-02-07  142.562500  142.781204  141.437500  142.375000  102.647575
2000-02-08  143.968704  144.562500  143.625000  144.312500  104.044502
2000-02-09  144.468704  144.468704  141.265594  141.281204  101.859093
2000-02-10  141.625000  142.562500  140.875000  141.562500  102.061844
2000-02-11  141.843704  141.937500  138.031204  138.687500   99.989075
2000-02-14  139.781204  139.781204  138.312500  139.500000  100.574867
...                ...         ...         ...         ...         ...
2017-07-13  244.020004  244.550003  243.759995  244.419998  244.419998
2017-07-14  244.419998  245.970001  244.309998  245.559998  245.559998
2017-07-17  245.470001  245.910004  245.330002  245.529999  245.529999
2017-07-18  245.059998  245.720001  244.669998  245.660004  245.660004
2017-07-19  246.020004  247.000000  246.009995  246.990005  246.990005
2017-07-20  247.279999  247.419998  246.470001  247.100006  247.100006
2017-07-21  246.440002  246.910004  246.179993  246.880005  246.880005
2017-07-24  246.789993  246.979996  246.279999  246.820007  246.820007
2017-07-25  247.679993  247.800003  247.160004  247.419998  247.419998
2017-07-26  247.750000  247.789993  247.130005  247.429993  247.429993
2017-07-27  247.960007  248.000000  245.679993  247.199997  247.199997
2017-07-28  246.649994  247.059998  246.130005  246.910004  246.910004
2017-07-31  247.369995  247.479996  246.529999  246.770004  246.770004
2017-08-01  247.460007  247.500000  246.720001  247.320007  247.320007
2017-08-02  247.470001  247.600006  246.369995  247.440002  247.440002
2017-08-03  247.309998  247.339996  246.639999  246.960007  246.960007
2017-08-04  247.520004  247.789993  246.970001  247.410004  247.410004
2017-08-07  247.490005  247.869995  247.369995  247.869995  247.869995
2017-08-08  247.509995  248.910004  246.830002  247.259995  247.259995
2017-08-09  246.470001  247.309998  246.059998  247.250000  247.250000
2017-08-10  246.289993  246.440002  243.699997  243.759995  243.759995
2017-08-11  244.020004  244.800003  243.750000  244.119995  244.119995
2017-08-14  245.589996  246.789993  245.550003  246.539993  246.539993
2017-08-15  246.979996  247.000000  246.160004  246.509995  246.509995
2017-08-16  247.110001  247.570007  246.449997  246.940002  246.940002
2017-08-17  246.240005  246.600006  243.089996  243.089996  243.089996
2017-08-18  242.899994  244.190002  242.199997  242.710007  242.710007
2017-08-21  242.639999  243.199997  241.830002  242.899994  242.899994
2017-08-22  243.570007  245.619995  243.550003  245.440002  245.440002
2017-08-23  244.330002  245.050003  244.160004  244.559998  244.559998

               Volume
Date
2000-01-03    8164300
2000-01-04    8089800
2000-01-05   12177900
2000-01-06    6227200
2000-01-07    8066500
2000-01-10    5741700
2000-01-11    7503700
2000-01-12    6907700
2000-01-13    5158300
2000-01-14    7437300
2000-01-18    6488500
2000-01-19    6157900
2000-01-20    5800100
2000-01-21    6244800
2000-01-24    7896900
2000-01-25    9942500
2000-01-26    5158100
2000-01-27   10922700
2000-01-28   11916200
2000-01-31   10768700
2000-02-01    8419900
2000-02-02    6205900
2000-02-03    7997500
2000-02-04    4925400
2000-02-07    5845800
2000-02-08    4936400
2000-02-09    8511500
2000-02-10    6690600
2000-02-11    9849800
2000-02-14    8528800
...               ...
2017-07-13   39471600
2017-07-14   60262700
2017-07-17   33531900
2017-07-18   42742500
2017-07-19   51034300
2017-07-20   47135200
2017-07-21   82340800
2017-07-24   46622300
2017-07-25   54915600
2017-07-26   47575400
2017-07-27   70766600
2017-07-28   50088400
2017-07-31   65838700
2017-08-01   55050400
2017-08-02   47211200
2017-08-03   40856000
2017-08-04   60191800
2017-08-07   31995000
2017-08-08   61719400
2017-08-09   62632600
2017-08-10  120479500
2017-08-11   74869900
2017-08-14   72139000
2017-08-15   55242700
2017-08-16   56715500
2017-08-17  128490400
2017-08-18  136748000
2017-08-21   65469700
2017-08-22   61606400
2017-08-23   43120399

[4439 rows x 6 columns]>

In [3]:
import pandas as pd
import numpy as np
from pandas_datareader import data

spy = data.get_data_yahoo("SPY", start="2000-01-01")
spy.head()

ratio = spy["Close"] / spy[ "Adj Close"]

spy["close"]     = spy["Adj Close"]
spy["open"]      = spy["Open"] / ratio
spy["high"]      = spy["High"] / ratio
spy["low"]       = spy["Low"] / ratio
spy["volume"]    = spy["Volume"]

spy = spy[['open','high','low','close','volume']]
spy.head()

                  open        high         low       close    volume
Date
2000-01-03  106.883582  106.883582  103.729345  104.855858   8164300
2000-01-04  103.481453  103.864501  100.676447  100.755325   8089800
2000-01-05  100.890516  102.039527   98.952914  100.935577  12177900
2000-01-06  100.665224  102.017040   99.313408   99.313408   6227200
2000-01-07  101.160858  105.081123  100.980616  105.081123   8066500

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data

spy = data.get_data_yahoo("SPY", start="2000-01-01")

ratio = spy["Close"] / spy[ "Adj Close"]

spy["close"]     = spy["Adj Close"]
spy["open"]      = spy["Open"] / ratio
spy["high"]      = spy["High"] / ratio
spy["low"]       = spy["Low"] / ratio
spy["volume"]    = spy["Volume"]

spy = spy[['open','high','low','close','volume']]
spy.tail()

                  open        high         low       close     volume
Date
2017-08-18  242.899994  244.190002  242.199997  242.710007  136748000
2017-08-21  242.639999  243.199997  241.830002  242.899994   65469700
2017-08-22  243.570007  245.619995  243.550003  245.440002   63140100
2017-08-23  244.330002  245.050003  244.160004  244.559998   48094200
2017-08-24  245.000000  245.172501  243.750000  244.619202   28567555